.two-columns { 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding-top: 100px;
  }